#table-of-contents {
	font-size: 12pt;
	position: fixed;
	right: 0em;
	top: 60px;
	background: white;
	line-height: 12pt;
	text-align: right;
	box-shadow: 0 0 1em #777777;
	-webkit-box-shadow: 0 0 1em #777777;
	-moz-box-shadow: 0 0 1em #777777;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	/* ensure doesn't flow off the screen when expanded*/
	max-height: 80%;
	overflow: auto;
}
#table-of-contents h2 {
	font-size: 13pt;
	max-width: 9em;
	border: 0;
	font-weight: normal;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.05em;
	padding-bottom: 0.00em;
	margin-top:0px;
	margin-bottom:0px;
}
#table-of-contents #text-table-of-contents {
	display: none;
	text-align: left;
}
#table-of-contents:hover #text-table-of-contents {
	display: block;
	padding: 0.5em;
}
